body {
    background-color: #f8f2f0;
    font-family: "Stack Sans Notch", sans-serif;
}

.profile-image img {
    border-radius: 50%;
    width: 13rem;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 15rem;
}