body {
    background-color: #f8f2f0;
    font-family: "DM Sans", sans-serif;

    color: #412115;
}

.profile-image img {
    border-radius: 50%;
    width: 14rem;
}

.about {
    display: flex;
    gap: 3.5rem;
    width: 55%;
    margin: 0 auto;
    justify-content: center;
    margin-top: 15rem;
}

.name {
    font-size: 35px;
}

.profile-description {
    font-weight: normal;

}

.about .heading-icons {
    list-style-type: none;
    display: flex;
    margin-left: -2.5rem;
    gap: 1.7rem;
}

.about .heading-icons i {
    font-size: 1.6rem;
}

.about .heading-icons a {
    color: #412115;
}

.about .heading-icons i:hover {
    color: #9c6450;
    cursor: pointer;
}

.menu-bar {
    font-size: 25px;
    top: 0;
    position: sticky;
}

a {
    text-decoration: none;
    color: #412115;
}

.menu-bar ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    background-color: #f8f2f0;
}

.menu-bar li:hover {
    padding: .5%;
    cursor: pointer;
    transition: 500ms;
}

.cac, .gwc, .rob, .club, .t4 {
    border-radius: 20px;
    border: #412115 2px solid;
}