body {
    background-color: #f8f2f0;
    font-family: "DM Sans", sans-serif;

    color: #412115;
}

.menu-bar {
    font-size: 1.7rem;
    top: 0;
    position: sticky;
    margin-top: 2.5%;
}

.menu-bar ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    background-color: #f8f2f0;
}

.menu-bar li:hover {
    text-decoration: underline;
    transform: 500ms ease;
}

.profile-image img {
    border-radius: 50%;
    width: 14rem;
}

.profile-image img:hover {
    transform: rotate(-1.2deg) scale(1.25);
    cursor: pointer;
    transition: 500ms;
}

.about {
    display: flex;
    gap: 3.5rem;
    width: 55%;
    margin: 0 auto;
    justify-content: center;
    margin-top: 5rem;
}

.name {
    font-size: 2.3rem;
}

.name:hover {
    color: #9c6450;
}

.profile-description {
    font-weight: normal;
    font-size: 1.1rem;
}

.about .heading-icons {
    list-style-type: none;
    display: flex;
    margin-left: -2.5rem;
    gap: 1.7rem;
}

.about .heading-icons i {
    font-size: 1.6rem;
}

.about .heading-icons a {
    color: #412115;
}

.about .heading-icons i:hover {
    color: #9c6450;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #412115;
}

.projects h1, .projects p {
    display: flex;
    margin-left: 5%;
    gap: 2rem;
}

.projects h1 {
    font-size: 2.1rem;
}

.subheading {
    font-size: 1.5rem;
    margin-top: -1.2%;
}

.date {
    font-size: 1.1rem;
}

.description {
    font-size: 1.1rem;
    margin: 2% 5% 2% 5%;
}

.project-card {
    font-size: 15px;
    margin: 0 5% 0;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.card {
    border-radius: 20px;
    border: #d3cecc 2px solid;
    width: 100%;
    height: 100%;
}

.card:hover {
    background-color: #f8ece5;
    border: #fdccc2 2px solid;
    transform: rotate(-.1deg);
    translate: transform 50000ms ease;
}

.project-card img {
    width: 10%;
    border-radius: 12.5%;
    margin-top: 5%;
}

.card-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    margin-right: 5%;
}

.fa-arrow-up-right-from-square {
    font-size: 1.3rem;
    color: #412115;
    margin: 1.2rem;
}

.fa-arrow-up-right-from-square:hover {
    color: #9c6450;
    cursor: pointer;
}

.card-top {
    display: flex;
    margin: 0 5% 0;
    justify-content: space-between;
}

.card-type {
  display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 2% 4%;
    background: #eae7e4;
    border-radius: 999px;
    font-size: 1.1rem;
}

.cert-images {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 1rem;
    justify-content: center;

    /* replace with contact form */
    margin-bottom: 12rem;
}

.cert-images img {
    width: 178.75px;
    height: 122.5px;
    object-fit: cover;
}

.cert-images img:hover {
    z-index: 2;
    transform: scale(3.5);
    transition: 750ms ease;
    cursor: pointer;
}

/* bro why didn't my css apply??  */
